services:
  nginx:
    image: nginx:latest
    container_name: nginx
    restart: unless-stopped
    ports:
      - "80:80"
    volumes:
      - ./nginx:/etc/nginx/conf.d
      - ./projects:/var/www/html
    networks:
      - laravel

  mysql:
    image: mysql:8.0
    container_name: mysql
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: password
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    networks:
      - laravel

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: phpmyadmin
    restart: unless-stopped
    environment:
      PMA_HOST: mysql
      PMA_PORT: 3306
      UPLOAD_LIMIT: 2000M
      MEMORY_LIMIT: 2048M
      MAX_EXECUTION_TIME: 600
      MAX_INPUT_TIME: 600
    ports:
      - "8080:80"
    networks:
      - laravel

  mailpit:
    image: axllent/mailpit
    container_name: mailpit
    restart: unless-stopped
    ports:
      - "8025:8025"
    networks:
      - laravel

  proyecto1:
    build:
      context: ./php/php83
    container_name: proyecto1
    restart: unless-stopped
    volumes:
      - ./projects/proyecto1:/var/www/html/proyecto1
    # si debe interactuar con otra app, habilitar network_mode: host
    networks:
      - laravel
    # network_mode: host

  node-proyecto1:
    build:
      context: ./node/node20
    container_name: node-proyecto1
    restart: unless-stopped
    ports:
      - "5173:5173"
    volumes:
      - ./projects/proyecto1:/var/www/html/proyecto1
    networks:
      - laravel

volumes:
  mysql_data:

networks:
  laravel:
    driver: bridge
